.profileInfo {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 3fr;
}

.profileInfoDesc, .profileInfoLogo {
    padding: 15px;
}

.profileInfoDesc {
    padding-left: 0px;
    align-self: center;
}

.profileInfoLogo img {
    width: 130px;
}
