.header {
    grid-area: h;
    background-color: #1e2745;
    align-items: center;
}
  
.header img {
    height: 50px;
    margin-left: 30px;
    padding: 3px 0px;
}

.loginBlock {
    float: right;
}