.nav {
    grid-area: n;
    background-color: rgb(247, 250, 98);
    padding: 10px 0px;
}

.item {
    padding-left: 20px;
}

.nav a {
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
    color: rgb(39, 1, 255);
}
.nav a:hover {
    color: rgb(255, 8, 8);
}
.nav a:active {
    color: rgb(73, 255, 1);
}

