.nav {
    grid-area: n;
    padding: 10px 0px;
    background-color: #1e2745;
}

.item {
    padding-left: 40px;
}

.item:last-child {
    padding-top: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
    color: #777d74;
}
.nav a:hover {
    color: #50b5ff;
}
.nav .active {
    color: rgb(73, 255, 1);
}
