.sidebarWrapper {
    background-color: #1e2745;
    display: flex;
    flex-direction: column;
}
.sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-bottom: 30px;
    font-size: 14px;
}
.sidebarItem img{
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    padding: 0px 10px;
}
.sidebarUser span {
    display: flex;
    justify-content: center;

}
/* .sidebarUserName {

}
.sidebarUserStatus {

} */