.app-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: 
    "h h h"
    "n c r";
    grid-template-rows: 1fr 8fr;

    height: 100vh; 
    font-family: 'Courier New', Courier, monospace;
    color: #777d74;
    background-color: #182039;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(39, 223, 213);
}

